



.trip-search-bar {
    width: 100%;
    max-width: 500px; 
    margin-bottom: 40px;
}



.trips-page h1 {
    text-align: center;
    color: #1a2a6c;
    margin-top: 40px;
}



.trips-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.trip-cards-container {
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 20px;           
  width: 100%;
  padding: 20px 0;
}